
@media(min-width:1600px) and (max-width:1920px){
  .avatar li:first-child img {
    width: 54%;
  }
  .seq-pagination {
    margin-top: -56px;
    margin-left: 60px;
}
.main {
  top: 56%;
  right: 5%;
}
}
@media (max-width:1599px){
  .seq-pagination h5 {
    display: inline-block;
    font-size: 20px;
  }
  .seq-pagination {
    margin-left: 25px;
  }
  .main {
    right: 2%;
    top: 48%;
}
  .nav {
    top: 37%;
  }
  .firstcontent {
    margin-top: 20%;
  }
}

@media only screen and (width: 1024px) and (max-height: 1366px)  {
  .seq-canvas, .seq-canvas > * {
      top: 55px;
  }
  .nav {
    top:38%;
    margin: 0px 0px 0px -11px;
  }
  .nav-1{
    right: -12px;
  }
  .mobile-back{
    display: block;
    position:absolute !important;
    bottom: -40px;
  }
  .avatar img {
    top: -40px;
  }
  .firstcontent {
    margin-top: 17%;
  }
  /* ----product list--- */
  #traveler .bg {
    background-size: auto 415px !important;
    background-position-y: 185px !important;
    width: 50%;
  }
  #third .bg {
    background-size: auto 415px !important;

    background-position-y: 185px !important;
    width: 60%;
  }
  #hipster .bg {
    background-size: auto 415px !important;
    background-position-y: 185px !important;
    width: 60%;
  }
  #fond4 .bg {
    background-size: auto 415px !important;
    background-position-y: 195px !important;
    width: 60%;
  }

  
  .avatar li:nth-child(2){
    top: 400px !important;
    width: 105% !important;
    left: -14px !important;
  
  }
  .avatar li:last-child {
    left: -14px !important;
    top: 400px !important;
    width: 105% !important; 
  }
  .index-logo{
    margin-top: 13px;
    margin-left: -15px;
  }
  .weight{
    padding-left: 45px !important;
    }
    .view-all-cont {
      bottom: -250px;
      left: 80px;
    }
    .mobilecat {
      display: none !important;
     }

  }

  @media (max-width: 1200px) {
    .mobile_view{
      position: relative;
      display: none;
    }
    .box-bg {
      height: 100%;
    }
    .mg-bottom-90 {
      margin-bottom: 90px; }
  
    #top-header .main-header .header-block {
      padding: 0px 12px; }
    #top-header .main-header .main-nav > ul > li > a {
      padding: 0 12px; }
  
    .product-category-slider .item-hover-view-cart:hover .product-cart-icon {
      bottom: 15px; }
  
    .newsletter .title h2 {
      font-size: 30px; }
  
    .main {
        right: 2%;
        top: 33%;
    }
    .deal-layout .manufacturers-block .price {
      display: none !important; }
  
    .product-category-slider .product .product-content .product-info {
      padding: 20px 25px; 
    }
  
    .home-2 .sm-text-center {
      text-align: center; }
  
    .home-2 .sm-text-center .page-title {
        text-align: center !important; 
    }
  
    .home-2 .sm-text-center .page-title .title-icon {
          text-align: center !important; 
    }
  
    .home-2 .sm-text-center .page-title .title-h2 {
          background-position: center bottom !important;
          margin-bottom: 20px; 
    }
    .home-2 .sm-text-center .page-title .description {
          margin: auto; 
    }
    .home-2 main .our-history .layout-left {
      width: 100%;
      margin-bottom: 50px; }
    .home-2 main .our-history .layout-right {
      max-width: 730px;
      margin: auto; }
    .home-2 main .store .img-left {
      justify-content: center !important;
      display: block !important;
      text-align: center; }
    .home-2 main .store .inner .inner-content {
      width: 100%;
      padding: 0 40px; }
    .home-2 main .deal-layout .title.item-content {
      margin-top: 40px; }
    .review .submit {
      margin-top: 15px; }
    .product-category-slider .title-h2 {
      font-size: 30px; }
    .product-category-slider .title-main {
      font-size: 20px; }
    .product-category-slider .product-info .product-name {
      margin-bottom: 2px;
      font-size: 14px; }
  
    .home-3 .oars-store {
      background-size: cover; }
    .home-3 .oars-store .img-left {
      margin-left: 0;
      padding: 0; 
    }
    /* .seq-pagination {
      margin-top: -40px;
      margin-left: 100px;
  } */
  
    .firstcontent {
        margin-top: 22%;
    }
      
    .img-bg img {
        height: 600px;
    }  
    /* .seq-pagination li:nth-child(3) {
      padding-left: 24px;
  }
  .seq-pagination li:nth-child(4) {
    padding-left: 26px;
  }
  .seq-pagination li:nth-child(5) {
    padding-left: 24px;
  } */
  .nav-1 {
    right: -15px;
  }
  
  .avatar li:first-child img {
    top: 10px;
    width: 60%;
  }
  .avatar li:nth-child(2){
    top: 120px !important;
    width: 80% !important;
    left: 16% !important;
   }
   .avatar li:nth-child(3){
    top: 120px !important;
    width: 80% !important;
    left: 16% !important;
   }
   .avatar li:last-child {
   top: 120px !important;
   width: 80% !important;
   left: 16% !important;
  } 
  .seq-pagination li:nth-child(3) {
    padding-left: 25px;
}
.seq-pagination li:nth-child(4) {
  padding-left: 25px;
}
.seq-pagination li:nth-child(5) {
  padding-left: 22px;
}
.seq-pagination {
  margin-left: 37px;
}
.nav {
  top: 58%;
}
   }
@media (min-width: 992px) {
    .mobile_view{
      position: relative;
      display: none;
    }
    .product-container {
      overflow: hidden; }
      .product-container .product-image-container .product-img-link {
        display: block;
        position: relative;
        overflow: hidden; }
        .product-container .product-image-container .product-img-link:before {
          position: absolute;
          content: "";
          top: 0;
          left: 0;
          right: 1px;
          width: 100%;
          height: 100%;
          z-index: 1;
          visibility: hidden;
          background-color: #333333;
          background-color: rgba(51, 51, 51, 0.3);
          zoom: 1;
          background-color: transparent\9;
          opacity: 0;
          filter: alpha(opacity=0);
          -webkit-transition: all 0.4s;
          transition: all 0.4s; }
      .product-container .product-image-container img {
        -webkit-backface-visibility: hidden;
        -webkit-transition: opacity 1s, transform 1s;
        transition: opacity 1s, transform 1s;
       }
  
      .product-container .box-buttons {
        z-index: 2;
        visibility: hidden;
        right: -40px;
        -webkit-transition: all 0.5s ease 0s;
        transition: all 0.5s ease 0s; 
      }
  
      .product-container:hover .product-image-container .product_img_link:before {
        visibility: visible;
        opacity: 1;
        filter: alpha(opacity=100); }
      .product-container:hover .product-image-container img {
        opacity: 1;
        filter: alpha(opacity=100);
        -webkit-transform: scale3d(1.1, 1.1, 1);
        -moz-transform: scale3d(1.1, 1.1, 1);
        -ms-transform: scale3d(1.1, 1.1, 1);
        -o-transform: scale3d(1.1, 1.1, 1); 
      }
      .product-container:hover .box-buttons {
        visibility: visible;
        right: 0px; 
      }
      .avatar li:first-child img {
        top: 50px;
      }
     
  }
@media (max-width:1024px){
    .img-bg img {
      height: 610px;
  }
  .avatar li:first-child img {
    top: 50px;
  }
  .firstcontent {
    margin-top: 22%;
  }
  .seq-pagination {
    margin-left: 60px;
  }  
  .main {    
    top: 34%;
    right: -1%;
}
.nav {
  top: 53%;
}
  }

@media (max-width: 991px) {
  
    .mobile_view {
      position: relative;
      display: block;
      top: -6px;
      right: -2%;
      height: 40px;
      z-index: 130;
  }
  .menu-nav__link {
    padding-right: 40px;
  }
  .avatar li:first-child img {
    top: 55px;
    width: 75%;
}
.mobile-back {
  display: block;
}
.nav {
  top: 35%;
}
  [class~=tiva-slideshow-wrapper] [class~=tiva-caption] h3 {
    padding-top: 0;
    font-size: 24px;
  }
  [class~=tiva-slideshow-wrapper] [class~=nivo-directionNav] a {
    height: 25pt;
  }
  [class~=tiva-slideshow-wrapper] [class~=nivo-directionNav] a {
    width: 25pt;
  }
    .pd-top-0 {
      padding-top: 0 !important; }
  
    .m-align-center {
      text-align: center; }
  
    .mg-top-10 {
      margin-top: 10px; }
  
    .mg-top-50 {
      margin-top: 50px; }
  
    .mg-bottom-10 {
      margin-bottom: 10px; }
  
    .mg-bottom-20 {
      margin-bottom: 20px; }
  
    .mg-bottom-30 {
      margin-bottom: 30px; }
  
    .mg-bottom-50 {
      margin-bottom: 50px; }
  
    .d-xs-none {
      display: none !important; }
  
    .main-nav {
      display: none; }
  
    .mg-lf-0 {
      margin-left: 0 !important; }
  
    .btn-menu {
      display: block;
      position: absolute;
      right: 15px; 
    }
  
    .p-right-15 {
      padding-right: 15px; 
    }
  
    .p-left-right {
      padding-left: 0;
      padding-right: 0; 
    }
  
    .p-right-0 {
      padding-right: 0; 
    }
  
    .p-bottom-15 {
      padding-bottom: 15px; 
    }

      .home_text_right {
        top: 42%;
        right: -20%;
      }
 
    #top-header .main-header .index-bars .popup-title {
      width: 6px; }
  
    .blog-news .card-container {
      margin-bottom: 0; }
  
    .store .inner {
      margin: 0; }
  
    .product-category-slider .item .product-container .product-img-link {
      border: 1px solid #f5f6fb;
      display: inline-block; }
  
    .blog-masory .blog-news .block-content {
      padding-bottom: 0; }
  
    .deal-layout .title.item-content {
      margin-top: 50px; }
  
    #top-header {
      height: inherit;
      line-height: inherit; }
      #top-header .main-header .center-sm {
        text-align: center; }
  
    .menu-right .info-header {
      width: inherit;
      padding: 15px 15px 50px 15px;
      z-index: 22;
      background-color: #fff;
      position: relative;
      height: 100vh; }
      .menu-right .info-header aside.pd-bottom-30 .fs-18 {
        font-size: 15px;
        color: #272727;
        margin-right: 30px;
        margin-left: 0; }
      .menu-right .info-header .check-box .font-italic.float-right {
        display: block; }
      .menu-right .info-header .user-page .m-bottom-20 {
        margin-top: 40px; }
  
    .title-main {
      font-size: 22px; }
  
    .title-h2 {
      font-size: 28px; }
  
    .gallery-single-wrap .layout-right {
      padding-left: 15px; }
  
    .feature-products .nav-item:nth-child(1), .feature-products .nav-item:nth-child(2), .feature-products .nav-item:nth-child(3) {
      margin-bottom: 10px; }
    .feature-products .product-tab .item {
      margin-bottom: 45px !important; }
  
    .testimonials .item .item-img {
      width: 100% !important;
      margin-bottom: 15px; }
      .testimonials .item .item-img img {
        display: inline-block;
        width: 120px; }
    .testimonials .item .item-content {
      width: 100%;
      text-align: center; }
      .testimonials .item .item-content .user-info {
        margin-top: 10px;
        margin-bottom: 25px; }
  
    .product-category-slider .navigation .best-seller {
      margin-top: 30px;
      margin-bottom: 20px; }
  
    .deal-layout {
      padding-top: 30px; }
      .deal-layout .page-title.color {
        padding-bottom: 35px; }
      .deal-layout .manufacturers-block .deal-of-day-carousel .owl-dots {
        position: absolute;
        right: auto;
        left: 0; }
      .nav {
          top: 37%;
      }    
  
    .blog-news .product-box .article-info li {
      display: inline;
      margin: 0 6px;
      position: relative;
      font-size: 12px; }
    .blog-news .product-container {
      margin-bottom: 30px; }
    .blog-news .product-box .article-info li:not(:last-child):before {
      content: '';
      position: absolute;
      right: -8px;
      top: 50%;
      width: 7px;
      height: 7px;
      border-radius: 50%;
      background-color: rgba(232, 218, 199, 0.5);
      -ms-transform: translateY(-50%);
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%); }
  
    .footer-bottom {
      padding-top: 60px; }
      .footer-bottom .about-layout:after {
        content: none !important; }
  
    .testimonial-home {
      padding: 0 15px; }
  
    .product-detail .product-detail-wrap .quantity-wrapper {
      min-width: 70px; }
    .product-detail .product-detail-wrap .product-information .purchase-section .purchase {
      margin-right: 15px; }
      .product-detail .product-detail-wrap .product-information .purchase-section .purchase .add-to-cart .button-main {
        padding-left: 20px;
        padding-right: 20px; }
  
    .meet-our-team .item {
      margin-bottom: 40px; }
  
    .store .position-img .product-img-link img {
      position: relative;
      bottom: 0;
      width: 80%;
      margin-top: 50px; }
  
    .newsletter {
      background-color: #f7eee2;
      background-image: none; }
  
    .home-2 .tiva-slideshow-wrapper .nivoSlider .tiva-caption img {
      display: none; }
    .home-2 main .smoothie {
      background-color: #f7eee2;
      background-image: none;
      background-size: cover;
      padding-right: 15px;
      padding-left: 15px; }
      .home-2 main .smoothie .title {
        margin-bottom: 20px; }
      .home-2 main .smoothie .home-smoothie-content {
        margin-bottom: 20px; }
      .home-2 main .smoothie .smoothie-icon.icon-left {
        width: 50%;
        width: 50%;
        margin-right: 15px; }
      .home-2 main .smoothie .smoothie-icon.icon-left .icon-item:nth-child(1) {
          display: flex;
          padding-right: 0;
          margin-bottom: 30px;
          margin-right: 0; }
      .home-2 main .smoothie .smoothie-icon.icon-left .icon-item:nth-child(2) {
          padding-right: 0;
          display: flex;
          margin-bottom: 30px; }
      .home-2 main .smoothie .smoothie-icon.icon-right {
        width: 50%;
        margin-top: -30px;
        padding-left: 0;
        margin-left: 15px; }
        .home-2 main .smoothie .smoothie-icon.icon-right .icon-item:nth-child(1) {
          display: flex;
          padding-left: 0;
          margin-bottom: 30px; }
        .home-2 main .smoothie .smoothie-icon.icon-right .icon-item:nth-child(2) {
          padding-left: 0;
          display: flex; }
      .home-2 main .smoothie .about-smoothie .deal-layout .page-title.color {
        padding-top: 0; }
      .home-2 main .smoothie .about-smoothie .manufacturers-block {
        margin-top: 2rem;
        border: 1px solid white;
        box-shadow: 0 6px 29px 0 rgba(80, 62, 40, 0.12); }
    .home-2 main .our-history {
      background: #f5fcf9; }
      .home-2 main .our-history .layout-left {
        width: 100%;
        margin-bottom: 0; }
      .home-2 main .our-history .layout-right {
        width: 100%;
        margin-top: 3rem; }
        .home-2 main .our-history .layout-right .history-chart-content .chart-caption {
          margin-left: 0px;
          margin-right: 0px; }
    .home-2 main .store {
      padding: 60px 0; }
      .home-2 main .store .item-img {
        padding-top: 0; }
        .home-2 main .store .item-img img {
          width: 75%; }
      .home-2 main .store .inner {
        margin: 0;
        width: 100%; }
        .home-2 main .store .inner .inner-content {
          padding: 0;
          width: 720px;
          margin: auto; }
    .home-2 main .deal-layout .title.item-content {
      margin-top: 0; }
    .home-2 main .deal-layout .page-title.color {
      padding-bottom: 0; }
  
    .home-3 #top-header .top-bar .top-header-right .currency-group {
      margin-left: 0; }
    .home-3 .oars-store {
      background-size: cover; }
      .home-3 .oars-store .layout-right {
        width: 100%; }
    .home-3 .testimonials {
      background-size: cover;
      text-align: center; }
      .home-3 .testimonials .item-content .user-info {
        justify-content: center; }
  
    .home-4 .home-deal-layout .newsletter,
    .home-5 .home-deal-layout .newsletter {
      padding: 50px 0;
      background-size: cover; }
    .home-4 .footer .footer-bottom,
    .home-5 .footer .footer-bottom {
      padding-top: 60px;
      padding-bottom: 35px; }
    .home-4 .footer .shipping .group-store .index-core-group,
    .home-5 .footer .shipping .group-store .index-core-group {
      display: block !important;
      text-align: center; }
      .home-4 .footer .shipping .group-store .index-core-group .item-img,
      .home-5 .footer .shipping .group-store .index-core-group .item-img {
        margin-right: 0;
        margin-bottom: 20px;
        display: inline-block; }
      .home-4 .footer .shipping .group-store .index-core-group .item-content h4,
      .home-5 .footer .shipping .group-store .index-core-group .item-content h4 {
        margin-bottom: 10px; }
  
    .home-4 .section-welcome {
      padding: 90px 0;
      background-size: cover; 
    }
    .home-4 .feature-products {
      margin-bottom: 15px; 
    }
  
    .home-5 .testimonials {
      padding: 0; 
    }
    .home-5 header .btn-menu {
      display: inline-block;
      position: relative;
      right: 0; 
    }
    .home-5 main .meats-store {
      padding-top: 90px !important;
      padding-bottom: 90px !important; 
    }
      .home-5 main .meats-store .home-welcome-inner .d-flex {
        -ms-flex-pack: center !important;
        justify-content: center !important; 
      }
      .home-5 main .meats-store .home-welcome-inner .home-welcome-banner {
        padding-left: 0; 
      }
      .home-5 main .meats-store .home-welcome-inner .home-welcome-content {
        padding-top: 30px;
        padding-left: 0;
       }
    .home-5 main .about-smoothie {
      background-image: none;
      background: #f7eee2; 
    }
    .home-5 main .home-delivery-process-content .icon-left {
      margin-right: 15px; 
    }
    .home-5 main .home-delivery-process-content .icon-right {
      margin-left: 15px; 
    }
    .home-5 #top-header .main-header .header-block .popup-content .cart .product-actions .fa-times {
      color: #b95556 !important; 
    }
  
    .home-6 main .stepping {
      padding-left: 15px;
      padding-right: 15px; 
    }
      .home-6 main .stepping .stepping-wrapper h2 {
        font-size: 35px;
        width: 100%;
        margin: 0 auto 40px; 
      }
  
    .blog-pagination {
      margin-top: 3rem;
      margin-bottom: 3rem; 
    }
  
    .about-us .oars-store .title {
      padding: 15px;
     }
  
    .blog-masory .masonry {
      -webkit-column-count: inherit;
      -moz-column-count: 3;
      column-count: inherit;
      column-gap: 30px;
      -moz-column-gap: 30px;
      -webkit-column-gap: 10px;
      padding: 0;
     }
      .blog-masory .masonry .card-container {
        margin-bottom: 0; 
      }
  
    .blog-detail .wrap-main .blog-news {
      margin-bottom: 60px; 
    }
    .blog-detail .post-navigation div,
    .blog-detail .post-navigation .post-next {
      max-width: 250px;
     }
  
    .contact-us-02 .header-contact {
      padding: 15px; 
    }
      .contact-us-02 .header-contact .item {
        justify-content: start !important; 
      }
  
    .contact-us-03 .contact-03 {
      padding: 0 15px;
     }
  
    .reset-password .check-out {
      width: 450px; 
    }
  
    .page-404 .page-home .info {
      margin-top: 22px;
      padding: 0 15px;
      margin-bottom: 43px; 
    }
    .page-404 .page-home .image p {
      font-size: 180px; 
    }
    .page-404 .page-home .image p .size-full {
        margin-top: -40px;
        width: 25%; 
      }
  
    .product-cart .cart-wrapper .cart-section .table td {
      padding: 15px; 
    }
  
    .check-out .check-out-wrap .checkout-coupon .form-row-last .button {
      padding: 14px 8px;
      margin-right: 20px;
      line-height: 20px; 
    }
  
    .product-detail .product-detail-wrap .review-product .tab-content {
      width: 100%; 
    }
  
    .testimonials .item {
      display: block !important; 
    }
  
    .page-title-breadcrumbs {
      padding-top: 90px !important;
      padding-bottom: 90px !important;
     }
  
    .gallery-single-01 #top-header .main-header .header-block i {
      line-height: 100px; 
    }
  
    .contact-us-03 .contact-03 #review {
      padding: 0;
      max-width: 600px;
      margin: auto; 
    }
  
    .newsletter .title h2 {
      font-size: 24px;
    }
  
    .nav-1 {
      right: -15px;
    }
    .seq-pagination {
      margin-right: 0px;
      margin-left: 18px;
      margin-top: -85px;
  }
  .seq-pagination h5 {
    width: 60%;
    }
    .img-bg img {
      height: 610px;
  }
  .seq-pagination {
    margin-left: 32px;
    margin-top: -42px;
  }
  .content-resizer.text {
    padding-bottom: 0px;
  }
  .firstcontent {
    margin-top: 26%;
  }
  .avatar li:nth-child(2){
    top: 120px !important;
    width: 80% !important;
    left: 16% !important;
   }
   .avatar li:nth-child(3){
    top: 120px !important;
    width: 80% !important;
    left: 16% !important;
   }
   .avatar li:last-child {
   top: 120px !important;
   width: 80% !important;
   left: 16% !important;
  } 
  .main {
    top: 31%;
    right: -9%;
}
  #top-header [class~=main-header] [class~=user-block] [class~=popup-title] i {
    margin-top: .1875pc;
    font-size: 26px;
    color: #fff;
  }
  .ulmobilecat li a {
    font-size: 21px;
    font-weight: 500;
}
.ulmobilecat li {
  width: 28% !important;
  }
}
 @media (min-width: 992px) and (max-width: 1199px) {
  .home-1 .testimonials .item .item-img {
    width: 200px; }

  .sidebar .recent-posts .media .post-info {
    padding: 0 8px; }
  .sidebar .recent-posts .media .post-info p {
      font-size: 13px; } 
   }
@media (max-width: 991px) and (min-width: 768px) {
  .article-info li:not(:last-child):before {
    content: none !important;
  }
.mobile_view {
  position: relative;
  display: none;
}

  }
 
@media only device and (max-width:991px)  {

.content-resizer.text {
  max-height: 320px;
}
.seq-canvas, .seq-canvas > * {
  top: 75px;
}
.nav {
  top:38%;
  margin: 0px 0px 0px -11px;
}
.nav-1{
  right: -30px;
}
.seq-pagination li:first-child {
  padding-left: 46px;
}
.seq-pagination li:nth-child(3) {
  padding-left: 60px;
}
.seq-pagination li:last-child {
  padding-left: 70px;
}
.seq-pagination h5 {
  text-indent: 5px;
  font-size: 12px
}

.round {
  width: 25px;
  height: 25px;
}
.round i {
  font-size: 12px;
  padding-top: 4px;
}

.text h1 {
  margin-top: 0;
}
.firstcontent {
  margin-top: 15%;
}
.circle-btn i {
  top: 8px;
  font-size: 15px;
  left: 9px;
  position: absolute;
}
.circle-btn {
  width: 30px;
  height: 30px;
}
.circle-btn-1 {
  width: 45px;
  height: 45px;
}
.main {
  top: 30%;
  right: 0%;
}
.home_categories_item{
  padding-left: 0px;
} 
.home_categories_item_title h5 {
  font-size: 15px;
}
#traveler .bg {
  background-size: auto 330px !important;
  background-position-y: 260px;
  width: 55%;
}
#third .bg {
  background-size: auto 330px !important;
  background-position-y: 260px;
  width: 55%;
}
#hipster .bg {
  background-size: auto 330px !important;
  background-position-y: 260px;
  width: 55%;
}
#fond4 .bg {
  background-size: auto 330px !important;
  background-position-y: 260px;
  width: 55%;
} 
#fond6 .bg {
  background-size: auto 330px !important;
  background-position-y: 260px;
  width: 55%;
}

#fond7 .bg {
background-size: auto 330px !important;
background-position-y: 260px;
width: 60%;
}
.content-resizer {
  padding: 115px 0px;
}
.text h2 {
font-size: 26px;
}
#traveler .content-resizer {
padding: 165px 0px;
}
.text h3 {
font-size: 18px;
line-height: 27px;
}
.btn-normal {
padding: 9px 24px;
}
.part-3{
  width: 50%;
  float: right;
}
.part-1{
  width: 50%;
  float:right;
}
.part-2{
  width: 50%;
}
#third .part-1{
  display: none;
} 
 #traveler .part-3{
  display: none;
}
.content-resizer p{
  display: block;
}
.text h1 {
  font-size: 20px;
  margin: 15px -35px;
}
.text h3 {
 display: block;
}
.text{
 text-align: left;
}
.text-1 h2 {
font-size: 19px;
margin: 5px -35px;
color:#ffff;
}
.text-1  P {
 display: none;
} 
.weight{
 padding: 5px;
}
.view-all-cont {
 bottom: -210px;
 left: 15px ;
}
.first img {
width: 75%;
left: 8%;
top: 170px;
}
  
.mobile_view {
  position: relative;
  display: block;
  top: -6px;
  right: -2%;
  height: 40px;
  z-index: 130;
}
[class~=tiva-slideshow-wrapper] [class~=tiva-caption] h3 {
padding-top: 0;
font-size: 24px;
}
[class~=tiva-slideshow-wrapper] [class~=nivo-directionNav] a {
height: 25pt;
}
[class~=tiva-slideshow-wrapper] [class~=nivo-directionNav] a {
width: 25pt;
}
.pd-top-0 {
  padding-top: 0 !important; }

.m-align-center {
  text-align: center; }

.mg-top-10 {
  margin-top: 10px; }

.mg-top-50 {
  margin-top: 50px; }

.mg-bottom-10 {
  margin-bottom: 10px; }

.mg-bottom-20 {
  margin-bottom: 20px; }

.mg-bottom-30 {
  margin-bottom: 30px; }

.mg-bottom-50 {
  margin-bottom: 50px; }

.d-xs-none {
  display: none !important; }

.main-nav {
  display: none; }

.mg-lf-0 {
  margin-left: 0 !important; }

.btn-menu {
  display: block;
  position: absolute;
  right: 15px; }

.p-right-15 {
  padding-right: 15px; }

.p-left-right {
  padding-left: 0;
  padding-right: 0; }

.p-right-0 {
  padding-right: 0; }

.p-bottom-15 {
  padding-bottom: 15px; }

#top-header .main-header .index-bars .popup-title {
  width: 6px; }

.blog-news .card-container {
  margin-bottom: 0; }

.store .inner {
  margin: 0; }

.product-category-slider .item .product-container .product-img-link {
  border: 1px solid #f5f6fb;
  display: inline-block; }

.blog-masory .blog-news .block-content {
  padding-bottom: 0; }

.deal-layout .title.item-content {
  margin-top: 50px; }

#top-header {
  height: inherit;
  line-height: inherit; }
  #top-header .main-header .center-sm {
    text-align: center; }

.menu-right .info-header {
  width: inherit;
  padding: 15px 15px 50px 15px;
  z-index: 22;
  background-color: #fff;
  position: relative;
  height: 100vh; }
  .menu-right .info-header aside.pd-bottom-30 .fs-18 {
    font-size: 15px;
    color: #272727;
    margin-right: 30px;
    margin-left: 0; }
  .menu-right .info-header .check-box .font-italic.float-right {
    display: block; }
  .menu-right .info-header .user-page .m-bottom-20 {
    margin-top: 40px; }

.title-main {
  font-size: 22px; }

.title-h2 {
  font-size: 28px; }

.gallery-single-wrap .layout-right {
  padding-left: 15px; }

.feature-products .nav-item:nth-child(1), .feature-products .nav-item:nth-child(2), .feature-products .nav-item:nth-child(3) {
  margin-bottom: 10px; }
.feature-products .product-tab .item {
  margin-bottom: 45px !important; }

.testimonials .item .item-img {
  width: 100% !important;
  margin-bottom: 15px; }
  .testimonials .item .item-img img {
    display: inline-block;
    width: 120px; }
.testimonials .item .item-content {
  width: 100%;
  text-align: center; }
  .testimonials .item .item-content .user-info {
    margin-top: 10px;
    margin-bottom: 25px; }

.product-category-slider .navigation .best-seller {
  margin-top: 30px;
  margin-bottom: 20px; }

.deal-layout {
  padding-top: 30px; }
  .deal-layout .page-title.color {
    padding-bottom: 35px; }
  .deal-layout .manufacturers-block .deal-of-day-carousel .owl-dots {
    position: absolute;
    right: auto;
    left: 0; }

.blog-news .product-box .article-info li {
  display: inline;
  margin: 0 6px;
  position: relative;
  font-size: 12px; }
.blog-news .product-container {
  margin-bottom: 30px; }
.blog-news .product-box .article-info li:not(:last-child):before {
  content: '';
  position: absolute;
  right: -8px;
  top: 50%;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: rgba(232, 218, 199, 0.5);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%); }

.footer-bottom {
  padding-top: 60px; }
  .footer-bottom .about-layout:after {
    content: none !important; }

.testimonial-home {
  padding: 0 15px; }

.product-detail .product-detail-wrap .quantity-wrapper {
  min-width: 70px; }
.product-detail .product-detail-wrap .product-information .purchase-section .purchase {
  margin-right: 15px; }
  .product-detail .product-detail-wrap .product-information .purchase-section .purchase .add-to-cart .button-main {
    padding-left: 20px;
    padding-right: 20px; }

.meet-our-team .item {
  margin-bottom: 40px; }

.store .position-img .product-img-link img {
  position: relative;
  bottom: 0;
  width: 80%;
  margin-top: 50px; }

.newsletter {
  background-color: #f7eee2;
  background-image: none; }

.home-2 .tiva-slideshow-wrapper .nivoSlider .tiva-caption img {
  display: none; }
.home-2 main .smoothie {
  background-color: #f7eee2;
  background-image: none;
  background-size: cover;
  padding-right: 15px;
  padding-left: 15px; }
  .home-2 main .smoothie .title {
    margin-bottom: 20px; }
  .home-2 main .smoothie .home-smoothie-content {
    margin-bottom: 20px; }
  .home-2 main .smoothie .smoothie-icon.icon-left {
    width: 50%;
    width: 50%;
    margin-right: 15px; }
  .home-2 main .smoothie .smoothie-icon.icon-left .icon-item:nth-child(1) {
      display: flex;
      padding-right: 0;
      margin-bottom: 30px;
      margin-right: 0; }
  .home-2 main .smoothie .smoothie-icon.icon-left .icon-item:nth-child(2) {
      padding-right: 0;
      display: flex;
      margin-bottom: 30px; }
  .home-2 main .smoothie .smoothie-icon.icon-right {
    width: 50%;
    margin-top: -30px;
    padding-left: 0;
    margin-left: 15px; }
    .home-2 main .smoothie .smoothie-icon.icon-right .icon-item:nth-child(1) {
      display: flex;
      padding-left: 0;
      margin-bottom: 30px; }
    .home-2 main .smoothie .smoothie-icon.icon-right .icon-item:nth-child(2) {
      padding-left: 0;
      display: flex; }
  .home-2 main .smoothie .about-smoothie .deal-layout .page-title.color {
    padding-top: 0; }
  .home-2 main .smoothie .about-smoothie .manufacturers-block {
    margin-top: 2rem;
    border: 1px solid white;
    box-shadow: 0 6px 29px 0 rgba(80, 62, 40, 0.12); }
.home-2 main .our-history {
  background: #f5fcf9; }
  .home-2 main .our-history .layout-left {
    width: 100%;
    margin-bottom: 0; }
  .home-2 main .our-history .layout-right {
    width: 100%;
    margin-top: 3rem; }
    .home-2 main .our-history .layout-right .history-chart-content .chart-caption {
      margin-left: 0px;
      margin-right: 0px; }
.home-2 main .store {
  padding: 60px 0; }
  .home-2 main .store .item-img {
    padding-top: 0; }
    .home-2 main .store .item-img img {
      width: 75%; }
  .home-2 main .store .inner {
    margin: 0;
    width: 100%; }
    .home-2 main .store .inner .inner-content {
      padding: 0;
      width: 720px;
      margin: auto; }
.home-2 main .deal-layout .title.item-content {
  margin-top: 0; }
.home-2 main .deal-layout .page-title.color {
  padding-bottom: 0; }

.home-3 #top-header .top-bar .top-header-right .currency-group {
  margin-left: 0; }
.home-3 .oars-store {
  background-size: cover; }
  .home-3 .oars-store .layout-right {
    width: 100%; }
.home-3 .testimonials {
  background-size: cover;
  text-align: center; }
  .home-3 .testimonials .item-content .user-info {
    justify-content: center; }

.home-4 .home-deal-layout .newsletter,
.home-5 .home-deal-layout .newsletter {
  padding: 50px 0;
  background-size: cover; }
.home-4 .footer .footer-bottom,
.home-5 .footer .footer-bottom {
  padding-top: 60px;
  padding-bottom: 35px; }
.home-4 .footer .shipping .group-store .index-core-group,
.home-5 .footer .shipping .group-store .index-core-group {
  display: block !important;
  text-align: center; }
  .home-4 .footer .shipping .group-store .index-core-group .item-img,
  .home-5 .footer .shipping .group-store .index-core-group .item-img {
    margin-right: 0;
    margin-bottom: 20px;
    display: inline-block; }
  .home-4 .footer .shipping .group-store .index-core-group .item-content h4,
  .home-5 .footer .shipping .group-store .index-core-group .item-content h4 {
    margin-bottom: 10px; }

.home-4 .section-welcome {
  padding: 90px 0;
  background-size: cover; 
}
.home-4 .feature-products {
  margin-bottom: 15px; 
}

.home-5 .testimonials {
  padding: 0; 
}
.home-5 header .btn-menu {
  display: inline-block;
  position: relative;
  right: 0; 
}
.home-5 main .meats-store {
  padding-top: 90px !important;
  padding-bottom: 90px !important; 
}
  .home-5 main .meats-store .home-welcome-inner .d-flex {
    -ms-flex-pack: center !important;
    justify-content: center !important; 
  }
  .home-5 main .meats-store .home-welcome-inner .home-welcome-banner {
    padding-left: 0; 
  }
  .home-5 main .meats-store .home-welcome-inner .home-welcome-content {
    padding-top: 30px;
    padding-left: 0;
   }
.home-5 main .about-smoothie {
  background-image: none;
  background: #f7eee2; 
}
.home-5 main .home-delivery-process-content .icon-left {
  margin-right: 15px; 
}
.home-5 main .home-delivery-process-content .icon-right {
  margin-left: 15px; 
}
.home-5 #top-header .main-header .header-block .popup-content .cart .product-actions .fa-times {
  color: #b95556 !important; 
}

.home-6 main .stepping {
  padding-left: 15px;
  padding-right: 15px; 
}
  .home-6 main .stepping .stepping-wrapper h2 {
    font-size: 35px;
    width: 100%;
    margin: 0 auto 40px; 
  }

.blog-pagination {
  margin-top: 3rem;
  margin-bottom: 3rem; 
}

.about-us .oars-store .title {
  padding: 15px;
 }

.blog-masory .masonry {
  -webkit-column-count: inherit;
  -moz-column-count: 3;
  column-count: inherit;
  column-gap: 30px;
  -moz-column-gap: 30px;
  -webkit-column-gap: 10px;
  padding: 0;
 }
  .blog-masory .masonry .card-container {
    margin-bottom: 0; 
  }

.blog-detail .wrap-main .blog-news {
  margin-bottom: 60px; 
}
.blog-detail .post-navigation div,
.blog-detail .post-navigation .post-next {
  max-width: 250px;
 }

.contact-us-02 .header-contact {
  padding: 15px; 
}
  .contact-us-02 .header-contact .item {
    justify-content: start !important; 
  }

.contact-us-03 .contact-03 {
  padding: 0 15px;
 }

.reset-password .check-out {
  width: 450px; 
}

.page-404 .page-home .info {
  margin-top: 22px;
  padding: 0 15px;
  margin-bottom: 43px; 
}
.page-404 .page-home .image p {
  font-size: 180px; 
}
.page-404 .page-home .image p .size-full {
    margin-top: -40px;
    width: 25%; 
  }

.product-cart .cart-wrapper .cart-section .table td {
  padding: 15px; 
}

.check-out .check-out-wrap .checkout-coupon .form-row-last .button {
  padding: 14px 8px;
  margin-right: 20px;
  line-height: 20px; 
}

.product-detail .product-detail-wrap .review-product .tab-content {
  width: 100%; 
}

.testimonials .item {
  display: block !important; 
}

.page-title-breadcrumbs {
  padding-top: 90px !important;
  padding-bottom: 90px !important;
 }

.gallery-single-01 #top-header .main-header .header-block i {
  line-height: 100px; 
}

.contact-us-03 .contact-03 #review {
  padding: 0;
  max-width: 600px;
  margin: auto; 
}

.newsletter .title h2 {
  font-size: 24px;
}

.nav-1 {
  right: -15px;
}
.seq-pagination {
  margin-right: 0px;
  margin-left: 18px;
  margin-top: -85px;
}
.seq-pagination h5 {
width: 60%;
}
.img-bg img {
  height: 610px;
}
.seq-pagination {
margin-left: 47px;
margin-top: -42px;
}
.content-resizer.text {
padding-bottom: 0px;
}
.firstcontent {
margin-top: 28%;
}
.avatar li:nth-child(2){
top: 120px !important;
width: 80% !important;
left: 16% !important;
}
.avatar li:nth-child(3){
top: 120px !important;
width: 80% !important;
left: 16% !important;
}
.avatar li:last-child {
top: 120px !important;
width: 80% !important;
left: 16% !important;
} 
.main {
top: 28%;
right: -8%;
}
#top-header [class~=main-header] [class~=user-block] [class~=popup-title] i {
margin-top: .1875pc;
font-size: 26px;
color: #fff;
}
}
@media(max-width:768px){
  .firstcontent {
    margin-top: 30%;
}
}
@media (max-width:767px) {
  .cd-floating-background{
  display: none;
  }
  .mobg{
  display: block;
  margin-top: 0px;
  }
  .menu-block {
    display: none;
  }
  .cd-background-wrapper{
    top: 0px;
  }
  .item-content p {
    font-size: 11px;
    line-height: 18px;
}
  .logo{
    padding: 10px 0px;
    text-align: left;
    margin-left: 10px;
  }
  .logo img {
    width: 85px;
  }
  .menu {
    padding: 10px 0px;
    margin-top: 20px;
  }
  .hamburger {
    width: 35px;
  }
  .hamburger span {
    height: 4px;
  }
  .ulmobilecat li a {
    font-size: 18px;
  }
  .hamburger span:nth-child(2),
  .hamburger span:nth-child(3) {
    top: 8px;
  }
  .hamburger span:nth-child(4) {
    top: 16px;
  }
  /* product page  */
  .box-bg{
    top: 0px;
  }
  .firstcontent{
    float: left;
    margin-top: 8%;
  }
  .thirdcontent {
    position:static !important;
  }
  .nav{
    bottom: 0px;
    z-index: 9999;
  }
  .nav ul {
    display: none;
}
.ulmobilecat {
  position: absolute;
  right: 0;
  left: 0;
  margin-left: 0;
}
.mobilecat {
  display: inline-block;
  position: relative !important;
  bottom: 98px !important;
  left: 0;
  right: 0;
}

  .img-bg{
    position: static !important;
  }
  .seq-pagination li:first-child {
    padding-left: 135px;
  }
  .seq-pagination li:nth-child(3) {
   padding-left: 137px;
  }
  .seq-pagination li:last-child{
   padding-left: 140px;
  }
  .seq-canvas{
    top: 80px;
  }
  .mobile-back{
   display: block;
   position:absolute !important;
   bottom: -40px;
  }
  .mobileNav li {
  padding: 20px 15px;
  }
  .mobileNav li a {
  font-size: 20px;
  }
 
.avatar li:first-child img {
    top: 90px !important;
    width: 25% !important;
    right: 35%;
}
 .avatar li:nth-child(2){
  top: 155px !important;
  width: 35% !important;
  left: 33.5% !important;
 }
 .avatar li:nth-child(3){
  top: 155px !important;
  width: 35% !important;
  left: 33.5% !important;
 }
 .avatar li:last-child {
 top: 150px !important;
 width: 34% !important;
 left: 35% !important;
} 
#traveler .bg {
  background-size: auto 330px !important;
  background-position-y: 260px;;
  width: 60%;
}
#third .bg {
  background-size: auto 330px !important;
  background-position-y: 260px;
  width: 60%;
}
#hipster .bg {
  background-size: auto 330px !important;
  background-position-y: 260px;
  width: 60%;
}
#fond4 .bg {
  background-size: auto 330px !important;
  background-position-y: 260px;
  width: 60%;
} 
#fond6 .bg {
  background-size: auto 330px !important;
  background-position-y: 260px;
  width: 60%;
}

#fond7 .bg {
background-size: auto 330px !important;
background-position-y: 260px;
width: 60%;
}
.mobile_view{
  position: relative;
  display: block;
}
.pd-l-0 {
  padding-left: 0px !important; }

.pd-l-15 {
  padding-left: 15px !important; }

.pd-r-15 {
  padding-right: 15px !important; }

.m-b-0 {
  margin-bottom: 0 !important; }

.m-b-10 {
  margin-bottom: 10px !important; }

.m-b-15 {
  margin-bottom: 15px !important; }

.m-b-30 {
  margin-bottom: 30px !important; }

.m-b-50 {
  margin-bottom: 50px !important; }
/* 
.tiva-slideshow-wrapper .tiva-caption {
  display: none; }
 
 */
.tiva-slideshow-wrapper .tiva-caption p {
 display: none;
 }
 [class~=tiva-slideshow-wrapper] [class~=tiva-caption] h3 {
  font-size: 16px;
 }
 [class~=tiva-slideshow-wrapper] [class~=tiva-caption] {
  transform: translateY(-4%);
 }
 [class~=tiva-slideshow-wrapper] [class~=tiva-caption] span {
  font-size: 1pc;
  }
  .tiva-slideshow-wrapper .nivo-caption h3 {
    margin:  0px;
  }
 .product-category-page .product-default-item #list .item {
  margin-bottom: 60px; }
  .product-category-page .product-default-item #list .item .product-thumb {
   margin-bottom: 20px; }
   .product-category-page .product-default-item .product-counter {
   display: none; 
    }
  .product-detail .product-detail-wrap .layout-left {
    margin-bottom: 10px; }
  .sm-text-center {
  text-align: center; }
  .sm-text-center .page-title .title-icon {
    text-align: center !important; }
  .sm-text-center .page-title .title-h2 {
    background-position: center bottom; }
  .sm-text-center .page-title .description {
    margin: auto; }
  .sm-text-center .group-store .index-core-group {
    margin-bottom: 45px;
    display: block !important; }
    .sm-text-center .group-store .index-core-group:last-child {
      margin-bottom: 0; }
    .sm-text-center .group-store .index-core-group .item-img {
      width: 100%;
      margin-bottom: 20px;
      display: inline-block;
      text-align: center; }
    .sm-text-center .group-store .index-core-group .item-content {
      width: 100%;
      float: left;
      margin: 0; }

.oars-store .img-left {
  padding: 20px 60px 30px 100px; }

.testimonial-home .testimonials .home-testimonials-inner .testimonials-item {
  padding-left: 0;
  padding-right: 0; }

.checkout .check-out-wrap .order-review .cart-collaterals .cart-totals th {
  width: auto; }

.home-2 main .smoothie .home-smoothie-content {
  display: block !important;
  margin-bottom: 40px; }
.home-2 main .smoothie .smoothie-icon.icon-left {
  width: 100%; }
  .home-2 main .smoothie .smoothie-icon.icon-left .icon-item:nth-child(1) {
    display: flex;
    padding-right: 0;
    margin-bottom: 30px;
    margin-right: 0; }
  .home-2 main .smoothie .smoothie-icon.icon-left .icon-item:nth-child(2) {
    padding-right: 0;
    display: flex;
    margin-bottom: 60px; }
.home-2 main .smoothie .smoothie-icon.icon-right {
  width: 100%; }
  .home-2 main .smoothie .smoothie-icon.icon-right .icon-item:nth-child(1) {
    display: flex;
    padding-left: 0;
    margin-bottom: 30px; }
  .home-2 main .smoothie .smoothie-icon.icon-right .icon-item:nth-child(2) {
    padding-left: 0;
    display: flex; }
.home-2 main .smoothie .about-smoothie .deal-layout .page-title.color {
  padding-top: 0; }
.home-2 main .smoothie .about-smoothie .manufacturers-block {
  margin-top: 2rem;
  border: 1px solid white;
  box-shadow: 0 6px 29px 0 rgba(80, 62, 40, 0.12); }
.home-2 main .our-history {
  background: #f5fcf9; }
  .home-2 main .our-history .layout-left {
    width: 100%;
    margin-bottom: 0; }
  .home-2 main .our-history .layout-right {
    width: 100%;
    margin-top: 3rem; }
    .home-2 main .our-history .layout-right .history-chart-content .chart-caption {
      width: 300px;
      max-width: 100%;
      margin-left: auto;
      margin-right: auto; }
  .home-2 main .store {
    padding: 60px 0; }
  .home-2 main .store .inner {
    margin: 0; }
  .home-2 main .store .inner .inner-content {
    padding: 0 30px;
    width: 100%;
   }
  .home-3 #top-header .top-bar {
   line-height: 35px;
   padding: 10px 0; }
  .home-3 #top-header .top-bar .social-container {
    display: flex;
    justify-content: center; }
  .home-3 .best-store .core-item {
   display: block !important;
  margin-bottom: 40px !important; }
  .home-3 .best-store .core-item:last-child {
    margin-bottom: 0 !important; }
  .home-3 .best-store .core-item .core-caption-group {
    margin-top: 20px; }
.home-3 .mobie-sm-text-center {
  text-align: center; }
.home-3 .testimonials .item {
  margin-bottom: 30px; }
.banner-section .pd-right-0 {
  padding-right: 15px; }
.home-5 header #top-header .main-header .index-bars {
  padding-left: 0; }
.home-5 header #top-header .main-header .cart-block {
  padding-right: 0; }
  .home-5 header #top-header .main-header .cart-block .ajax-cart-quantity {
    right: -8px; }
.home-5 main .sider-show {
  padding-left: 0 !important; }
  .home-5 main .sider-show .home-slideshow-social {
    display: none; }
.home-6 main .feature-products {
  margin-bottom: 40px; }
.home-6 main .stepping {
  margin-bottom: 50px; 
}
.page-404 .page-home {
  padding: 60px 0 100px 0; 
}
.blog-masory .grid-sizer,
.blog-masory .grid-item {
  width: 100%; 
}
.blog-masory .product-container {
  margin-right: 0; 
}
.blog-detail .wrap-main .blog-news {
  margin-bottom: 20px;
 } 
.content-resizer.text {
display: inline-block;
text-align: center;
}
.view-all-cont {
text-align: center;
display: inline-block;
float:none;
}
.img-bg img{
display: none;
}
.circle-btn {
width: 30px;
height: 30px;
}
.circle-btn-1 {
width: 46px;
height: 46px;
}
.circle-btn i {
padding: 6px;
}
.circle-btn {
font-size: 16px;
}
.process_individual {
  width: 33.33%;
}
}
@media (max-width: 575px) and (min-width: 767px) {
   
  .firstcontent {
    margin: 10% 0px;
}
  .view-all-cont-cashews {
    float: none;
    text-align: center;
    display: inline-block;
  }
  .seq-pagination {
    margin-top: 40px;
 }
 .main {
  position: absolute;
  top: 38%;
  right: 28%;
 }
 .seq-pagination li:first-child {
   padding-left: 0px;
 }
 .seq-pagination li:nth-child(3) {
   padding-left: 0px;
 }
 .seq-pagination li:nth-child(4) {
   padding-left: 0px;
 }
 .seq-pagination li:nth-child(5) {
   padding-left: 0px;
 }
 .seq-pagination li {
    width: 20%;
   display: inline-block;
 }
 .seq-pagination img, .seq-pagination a {
   display: inline-block;
 }
 .seq-pagination h5 {
  font-size: 13px;
  text-indent: 3px;
}

}
@media (max-width:576px){
 
  .firstcontent {
    margin-top: 25%;
  }
  .mg-bottom-50 {
    margin-bottom: 0px;
}
  .thirdcontent {
    display: none;
  }
  .process_individual {
    width: 50%;
}
[class~=process] [class~=process_individual] {
  padding: 10px 9px;
}
h2.title-h2.h2_dark {
  font-size: 21px;
}
  .home_text_right.mobileshow {
    top: 50%;
    left: 0%;
  }
  .home_text_right {
    top: 50%;
    right: -33%;
    width: 80%;
    display: none;
}
  .ulmobilecat li {
    width: 32% !important;
  }
  #traveler .part-3{
    display: none;
  }
  .part-3{
    width: 50%;
  }
  .part-1{
    width: 50%;
    float:right;
  }
  .part-2{
    width: 50%;
  }
  #traveler .bg {
    background-size: auto 165px !important;
    background-position-x: 15px;
    background-position-y: 180px !important;
    width: 50%;
}
  #third .bg {
    background-size: auto 165px !important;
    background-position-x: 15px;
    background-position-y: 180px !important;
    width: 50%;
  }
  #hipster .bg {
    background-size: auto 165px !important;
    background-position-x: 15px;
    background-position-y: 180px !important;
    width: 50%;
  }
  #fond4 .bg {
    background-size: auto 165px !important;
    background-position-x: 15px;
    background-position-y: 180px !important;
    width: 50%;
  } 
  #fond6 .bg {
    background-size: auto 165px !important;
    background-position-x: 15px;
    background-position-y: 180px !important;
    width: 50%;
  }

#fond7 .bg {
  background-size: auto 165px !important;
  background-position-x: 15px;
  background-position-y: 180px !important;
  width: 50%;
}
.menu_largedevice{
  display: none;
  }
  .mob_view h1{
    margin-left:-33px !important;
  }
.content-resizer p{
  display: block;
}
.text h1 {
  font-size: 20px;
  text-transform: uppercase;
  margin: 13px 0px;
  color: #ffff;
}
.text h3 {
  display: block;
  margin: 5px -38px;
}
.text{
  text-align: left;
}
.text-1 h2 {
  font-size: 19px;
  margin: 5px -35px;
  color:#ffff;
}
.text-1  P {
  font-size: 15px;
  margin: 15px -35px;
  color: #ffff;
} 
#third {
  height: 56%;
}
.btn-normal {
  padding: 7px 10px;
  font-size: 9px;
  margin: 25px -35px;
}
/* ---product detail--- */
.first{
  position: relative !important;
}
.first img{
   top: 0px !important;
   left: 36%;
}
.mob_productimage{
  width: 190% !important;
}
.view-all-cont {
  left: 0px;
  bottom: -50px;
  width: 100%;
}
.bgimg h2{
  display: block; 
}
.contentm_1{
  margin-top: 420px;
}
.second{
  margin-top: -391px;
}
.second h2{
  display: none;
}
.b{
  display: none;
}

ul li strong{
  font-size: 14px; 
  padding: 0px 0px 0px 10px;
}
.avatar li:first-child img {
  top: 125px !important;
  width: 40% !important;
  right: 30%;
}
.circle-btn {
  right: 67px;
  width: 30px;
  height: 30px;
  top: 5px;
}

.circle-btn i {
  padding: 6px;
}
.circle-btn-1 {
  left: -62px;
  width: 40px;
  height: 40px;
}
.menu_largedevice{
  display: none;
}
.mobile_view{
 display: block;
}
#top-header [class~=index-logo] {
 line-height: 5.25pc;
}
[class~=index-logo] img {
 max-width: 58.75pt;
}
.view-all-cont .view-all-btn {
 padding-right: 96px;
}
 /* .info-header-wrapper{
  margin-right: 12pc;
  margin-left: 2pc;
 } */
 .reset-password .check-out {
   width: 100%; }

 .view-all-cont .view-all-btn:after {
     right: 95px;
     top: 10px;
     width: 60px;
 }

 .mobile_view {
   position: relative;
   display: block;
   /* top: -112px; */
   right: 0%;
   height: 40px;
   z-index: 99;
 }
 .sm-mg-bottom-0 {
   margin-bottom: 0 !important; 
 }
 #third .content-resizer {
   padding: 110px 50px !important;
 }
 .btn-menu {
   display: block;
   position: absolute;
   right: 10px;
  }
   [class~=feature-products] [class~=item] {
     margin: 0 auto;
     margin-bottom: 3.125pc;
     width: 45%;
   }
 /* .page-404 .page-home .h4 {
   font-size: 28px; }
 .page-404 .page-home .button-main {
   width: 220px;
   margin: 0 auto 20px auto !important;
   display: block; } */

 .post-navigation {
   border-bottom: 1px solid #f5f6fb !important;
   padding-bottom: 25px;
   margin-bottom: 45px;
  }

 .blog-detail .wrap-main .articledescript-group p .green {
   padding: 0 15px;
   color: #91ad41;
   display: inline-block;
   font-weight: 600;
   font-family: 'Playfair Display', serif; }

 .product-detail .product-detail-wrap .review-product .nav-tabs li {
   margin-right: 20px; }
   .product-detail .product-detail-wrap .review-product .nav-tabs li a {
     font-size: 13px; }
     .product-detail .product-detail-wrap .review-product .nav-tabs li a.active.show {
       padding-bottom: 2px; }

 .home-2 main .our-history .home-funcfacts-inner .funcfacts-content {
   width: 100%; }

 .home-3 .banner .item .banner-item .group-caption-item {
   padding: 75px 20px 80px 20px; }

 /* .home-5 main .sider-show .home-slideshow-phone {
   display: none; }
 .home-5 main .home-delivery-process-inner .home-delivery-process-content {
   display: block !important;
   width: 100%; }
   .home-5 main .home-delivery-process-inner .home-delivery-process-content .icon-left {
     margin-right: 0;
     margin-bottom: 40px; }
   .home-5 main .home-delivery-process-inner .home-delivery-process-content .icon-right {
     margin-left: 0; }
 .home-5 main .meats-store {
   padding: 0 15px; } */
   /* [class~=tiva-slideshow-wrapper] [class~=nivo-directionNav] a {
     width: 30pt;
   }
 
  [class~=tiva-slideshow-wrapper] [class~=nivo-directionNav] a {
     height: 30pt;
   }
  */
 
  .avatar li:nth-child(2){
   top: 170px !important;
   width: 70% !important;
   left: 10% !important;
  }
  .avatar li:nth-child(3){
   top: 170px !important;
   width: 70% !important;
   left: 10% !important;
  }
  .avatar li:last-child {
  top: 170px !important;
  width: 70% !important;
  left: 11% !important;
 } 
 .view-all-cont-cashews {
   text-align: center;
   width: 100%;
   display: inline-block;
}
.view-all-cont-cashews .view-all-btn:after{
 right: 95px;
 top: 10px;
 width: 60px;
}
.main {
 position: absolute;
 top: 40%;
 right: 8%;
 cursor: pointer;
}
.ulmobilecat li a {
  font-size: 16px;
}
}
@media (max-width: 425px) {
  .mg-left-right {
    margin: 0 15px; }

  .gallery-wrap {
    padding: 0 15px; }

  #top-header .main-header .popup-content {
    min-width: 280px !important; }

  #top-header .main-header .popup-content .cart .product-name a {
      line-height: 20px; }

  #top-header .main-header .header-block {
    padding: 0px 10px; }
  #top-header .main-header .header-block.search-block .popup-content {
      right: -58px; }
  #top-header .main-header .header-block.cart-block .popup-content {
      right: -18px; }

  .product-category-slider .item .item-img img {
    width: 100px;
    display: inline-block; }
  .product-category-slider .product-info {
    padding: 0px 15px; }

  .product-category-page .product-default-item .filter {
    display: none; }

  .product-detail .product-detail-wrap .review-product .nav-tabs li {
    margin-right: 10px; 
  }
  .product-detail .product-detail-wrap .review-product .spr-review-header {
    display: block !important;
    margin-bottom: 5px; 
  }
  .product-detail .product-detail-wrap .review-product .spr-review-header strong {
      display: block;
  }
  .product-detail .product-detail-wrap .review-product .spr-review-header span {
      padding-left: 0 !important;
  }
  .product-detail .product-detail-wrap .review-product .spr-review-header span:before {
        content: none !important; 
  }
  .checkout .cart-subtotal .name-product {
    width: 165px; }
  .reset-password .button-main {
    padding: 0 25px; }

  .blog-detail .wrap-main .like-share {
    display: block !important; }
  .blog-detail .wrap-main .like-share .tags-area {
      margin-bottom: 15px; }
  .blog-detail .comment .title .button-main {
    padding: 0 10px;
    font-size: 13px; }
}
@media (max-width: 375px) {
  .ulmobilecat  {
    bottom: -50px !important; 
  }
  .avatar li:first-child img {
    top: 125px;
  }
  .firstcontent {
    margin-top: 22%;
}

 .main {
  top: 40%;
  right: 6%;
}
}

@media(max-width:320px){
  
.ulmobilecat  {
  bottom: -40px; 
}
.main {
  top: 36%;
  right: 0%;
 }
.seq-pagination {
  margin-left: 0px; 
}

.avatar li:nth-child(3) {
  top: 156px !important;
  width: 75% !important;
} 
.avatar li:nth-child(2) {
  top: 156px !important;
  width: 75% !important;
} 
.avatar li:nth-child(4) {
  top: 156px !important;
  width: 75% !important;
}   
/* .seq-pagination {
  margin-left: 0px; 
} */
.view-all-cont .view-all-btn:after {
  right: 35px;
  top: 12px;
}
.view-all-cont .view-all-btn {
  padding-right: 18px;
}                                                                                      
}



 