/* -------------------------------- 

Primary style

-------------------------------- */
*, *::after, *::before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: Poppins, Helvetica, Arial, sans-serif;
  color: #ffffff;

 height:100%;
}
a {
 text-decoration: none;
}
a:hover {
  text-decoration: none !important;
}
.img-responsive{
  max-width: 100%;
  height: auto;
}
/* -------------------------------- 

Main Components 

-------------------------------- */
.cd-background-wrapper {
  position: relative;
  -webkit-perspective: 4000px;
  perspective: 4000px;
}

  .img-bg {
    /* height: 100%; */
    position: absolute;
    /* width: 100%; */
    right: 8px;
 
}
.img-bg img {
  height: 100%;
}
/* .cd-floating-background {
  position: relative;
  top: 0;
  left: 0;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
} */
.cd-floating-background.is-absolute {
  position: absolute;
}
.cd-floating-background img {
  display: block;
  max-width: 100%;
  width: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  /* fixes a Firefox bug - images not correctly rendered*/
  background-color: rgba(255, 255, 255, 0.01);
  height: auto;
}
.cd-floating-background img:not(:first-child) {
  position: absolute;
  top: 0;
  left: 0;
}
.cd-floating-background img:first-child {
  -webkit-transform: translateZ(50px);
  -ms-transform: translateZ(50px);
  transform: translateZ(50px);

}
.cd-floating-background img:nth-child(2) {
  -webkit-transform: translateZ(290px);
  -ms-transform: translateZ(290px);
  transform: translateZ(290px);
  width:50%;
  opacity:0.4;
}
.cd-floating-background img:nth-child(3) {
  -webkit-transform: translateZ(400px);
  -ms-transform: translateZ(400px);
  transform: translateZ(600px);
  width:100%;
}
.no-preserve-3d .cd-floating-background {
  /* we target browsers that don't support preserve-3d and show just a standard image - no effect visible */
  position: relative;
}
#top-header [class~=main-header] [class~=main-nav]>ul>li>a {
  color: #fff !important;
}
#top-header [class~=main-header] [class~=main-nav]>ul>li>a:active, #top-header .main-header .main-nav>ul>li:hover>a, [class~=job] {
  color: #000 !important;
}
.box-bg{
  height:100%;
  /* background-image: radial-gradient(#f7ebd2,#e8d0a0,#d6bb84); */
  background-color: #d6bb84;
  position: relative;
  overflow: hidden;
}
.col-lg-10.col-md-10.col-sm-6.col-xs-6.menu_largedevice {
  z-index: 105;
}
.cashews{
  height:100%;
  background-image: radial-gradient(#f0eeeb,#a3a19c,#504f4e);
  position: relative;
}
.round i {
  text-align: center;
  font-size: 14px;
  padding-top: 5px;
  color:#f7ebd2;
}
.round i:hover {
 
  color:white;
}
figure.cd-floating-background.is-absolute{
    height: 550px !important;
    width: auto !important;
    left: 0px !important;
}
.back-i{
  height: 800px;
}
.col-md-12.img {
  text-align: center;
}
@keyframes float {
0% {
  transform: translatey(0px);
}
50% {
  transform: translatey(-20px);
}
100% {
  transform: translatey(0px);
}
}
.box img {
  height: 700px;
}
.container {
width: 100%;
height: 100%;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.avatar {
transform: translatey(0px);
animation: float 2.5s ease-in-out infinite;
position: absolute;
position:absolute;
}
.avatar img {
  max-width: 100%;
  height: auto;
  width: 74%;
  position: absolute;
  top: -15px;
  right: 9%;
}
.round {
    width: 30px;
    height: 30px;
    border: 2px solid #fff;
    border-radius: 50%;
    display: inline-block;
    border: 3px solid rgba(255, 255, 255, 0.42);
}
.seq .seq-pagination  .mar{
  margin: 5px 24px;
}
.seq .seq-pagination  .mar-1{
  margin: 0px 12px;
}
.main {
  position: absolute;
  top: 35%;
  right: 3%;
  cursor: pointer;
}

.circle-btn-1 {
  position: relative;
  transform: rotate(-90deg) translate(-50%, -50%);
  transition: all linear 0.3s;
  transform-origin: top;
  border: 10px solid #00000073;
  border-radius: 50%;
  opacity: .5;
  width: 56px;
  height: 56px;
  left: -25px;
}
.circle-btn{
  padding: 2px;
  width: 40px;
  height: 40px;
  background-color: #fffcfc;
  opacity: 1 !important;
  top: 8px;
  position: absolute;
  right: 33px;
  border-radius: 50%;
  transition: all linear 0.4s;
  font-size: 20px;
}
.circle-btn i{ 
  padding:10px;
 
}

.circle-btn.active{
  transform: rotate(-90deg);
}

.home_categories_item_title h5 {
  padding: 10px 0px;
  display: inline-block;
}


.home_categories {
  position: absolute;
  top: 58%;
  right: 0;
  width: 25%;
  transition: all linear 0.3s;
  z-index: 6;
  opacity: 1;
}

.home_categories_bg {
  position: relative;
  width: 100%;
}
.home_categories_bg img {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  object-fit: contain;
}
.home_categories_item {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  position: absolute;
  top: 58%;
  transform: translate(0, -50%);
}
.home_categories_item li {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  margin-bottom: 15px;
  opacity: 1;
  z-index: 6;
  cursor: pointer;
}
.home_categories_item_icon {
  width: 35px;
  height: 35px;
  margin-right: 15px;
}
.home_categories_item_title {
  transition: all linear 0.3s;
  color: #ffffff;
  opacity: 1;
}
.text p {
  color: #fff;
  font-size: 20px;
}
.text h1 {
    color: #fff;
    font-size: 40px;
    font-weight: 700;
}
.text p a {
  color: #fbfbfb;
  font-weight: 200;
  font-size: 17px;
}
.no {
  padding: 0;
  padding: 170px 0px;
}
.content-resizer.text {
  transform: translateY (27px);
  text-align: right;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: flex-end;
  -moz-align-items: flex-end;
  -ms-align-items: flex-end;
  align-items: flex-end;
  color: #ffffff;
  width: 100%;
  z-index: 5;
  transition: all linear 0.3s;
  overflow: hidden;
  max-height: 150px;
  height: 100%;
  justify-content: flex-end;
  opacity: 1;
  padding-bottom: 20px;
  text-align: right;
}
.content-resizer.text.hide-me{
  transition: all linear 0.3s;
  transform: translateY(200px);
}
.home_categories_item_icon .cat-icon {
  width: 100%;
}
.home_categories_item_icon svg {
  width: 100%;
}
.home_categories_item li:nth-child(3) {
  margin-left: 0px;

}
.home_categories_item li:nth-child(1) {
  margin-left: -5px;
}
.home_categories_item li:nth-child(2) {
  margin-left: 6px;
}
.home_categories_item_icon .cat-icon svg .cls-1 {
  transition: all linear 0.8s;
  opacity: .5;
  fill: #ffffff;
}
.carousel {
  position: relative;
  background-color: #000;
}
.s-round{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid #fff;
}

/*
 * Styles: Body, HTML, and container
 * 1: Make the application fullscreen
 * 2: Basic reset styles
 */
 body,
 html,
 .seq {
 
   /* #1 */
   width: 100%;
   height: 100%;
 
   /* #2 */
   margin: 0;
   padding: 0;
 }
 
 .seq {
   position: relative;
   overflow: hidden;
   font-family: "Poppins", sans-serif;
   color: white;
   text-align: center;
   -webkit-transition-duration: .5s;
   -webkit-transition-property: background-color;
   transition-duration: .5s;
   transition-property: background-color;
 }
 
 #cashews{
   display: none;
 }
 #pistachio{
   display:none;
 }
 #Kismish{
   display: none;
 }
 .avatar li:first-child {
  position: absolute;
  top: 50px;
  z-index: 0 !important;
}
.avatar li:first-child img {
  top: 0px;
  width: 60%;
}
.avatar li:nth-child(2){
    left:80px ;
    top: 80px ;
    width: 82% ;
    z-index: -1 !important;
}

.avatar li:nth-child(3){
    left:80px;
    top: 80px;
    width: 82%;
    z-index: -1 !important;
}
.avatar li:last-child {
  left: 80px ;
  top: 80px ;
  width: 82% ;
  z-index: -1 !important;
  

}
 
 .seq-canvas,
 .seq-canvas > * {
 
   /* #1 */
   height: 100%;
   width: 100%;
 
   /* #2 */
   margin: 0;
   padding: 0;
   list-style: none;
   top: 70px;
 }
 
 /*
  * Styles: steps
  * 1: Position steps all in the same place
  * 2: Add whitespace around each step
  * 3: Make space for the pagination
  */
 .seq-canvas > * {
   /* #1 */
   position: absolute;
 
   /* #2 */
   padding: 32px;
   box-sizing: border-box;
 
   /* #3 */
   height: auto;
   top: 100px;
   bottom: 80px;
 }
 .feature {
   width: 70%;
   max-width: 100%;
   height: auto;
 }
 /* Ghost element */
 .valign:before {
   content: "";
   height: 100%;
 }
 
 /* Vertically align the ghost and desired elements */
 .valign:before,
 .valign > .vcenter {
   display: inline-block;
   vertical-align: middle;
 }
 
 /* Remove 4px gap to allow consistent valign */
 .valign {
   font-size: 0;
 }
 
 /* Reset font-size on valigned elements */
 .valign > .vcenter {
   font-size: 16px;
 }
 .title {
   /* #1 */
   margin: 0;
 
   /* #2 */
   opacity: 0;
   -webkit-transform: translateX(50px) translateZ(0);
   transform: translateX(50px) translateZ(0);
 
   /* #3 */
   -webkit-transition-duration: .5s;
   transition-duration: .5s;
   -webkit-transition-property: opacity, transform;
   transition-property: opacity, transform;
 }

 .seq-in .title {
   opacity: 1;
   -webkit-transform: translateX(0) translateZ(0);
   transform: translateX(0) translateZ(0);
 }
 
 
 .seq-out .title {
   opacity: 0;
   -webkit-transform: translateX(-50px) translateZ(0);
   transform: translateX(-50px) translateZ(0);
 }
 
 
 .feature {
   -webkit-transform: translateZ(0) scale(0);
   -webkit-transition-duration: .5s;
   -webkit-transition-property: transform, opacity;
   transform: translateZ(0) scale(0);
   transition-duration: .5s;
   transition-property: transform, opacity;
 }
 
 
 .seq-in .feature {
   -webkit-transform: translateZ(0) scale(1);
   transform: translateZ(0) scale(1);
 }
 
 .seq-out .feature {
   -webkit-transform: translateZ(0) scale(1);
   transform: translateZ(0) scale(1);
   opacity: 0;
 }
 .main-content{
   background-image: url(../img/1.png);
   background-repeat: no-repeat;
   background-position: center;
 }
 .nav {
   position: absolute;
   z-index: 100;
   right:0;
   border: none;
   margin: 0px 0px 0px 20px;
   padding: 0;
   top: 35%;
 }
 .nav-1{
   position: absolute;
   z-index: 100;
   right: -50px;
   top: 40%;
   max-width: 640px;
   width: 100%;
   border: none;
   margin: 0 auto;
   padding: 0;
   transition: all linear 0.4s;
 }
 .nav-1.active{
  right: -260px;
 }

 .seq-pagination h5 {
  display: inline-block;
  font-size: 16px;
  color: #fff;
  font-weight: 700;
  text-indent: 15px;
  width: 45%;
  text-align: left;
  transition: all linear 0.4s;
  
}
.seq-pagination h5.active{
  opacity: 0;
}
 /*
  * Styles: previous/next buttons
  * 1: Reset styles
  * 2: General styles
  * 3: Set up the `opacity` so that it will transition from 70% transparency to opaque when hovered over
  */
 .seq-next,
 .seq-prev {
   /* #1 */
   padding: 0;
   background: transparent;
   border: none;
 
   /* #2 */
   padding: .75em;
   cursor: pointer;
   color: white;
   font-size: .75em;
   text-transform: uppercase;
 
   /* #3 */
   opacity: .7;
   -webkit-transition-duration: .25s;
   -webkit-transition-property: opacity;
   transition-duration: .25s;
   transition-property: opacity;
 }
 
 .seq-next:hover,
 .seq-prev:hover {
   opacity: 1;
 }
 
 /*
  * Styles: next/previous buttons and pagination container
  */
 .seq-next,
 .seq-prev,
 .seq-pagination {
   position: relative;
   vertical-align: middle;
   margin-top: 0;
 }
 
 /*
  * Add some space to sides of pagination
  */
 .seq-pagination {
   margin: 0 1em;
   padding: 0;
   text-align: center;
   margin-top: -145px;
   margin-left: 96px;
 }

 .seq-pagination li a:hover {
  text-decoration: none;
}

 .seq-pagination li {
   position: relative;
   list-style: none;
   display: inline-block;
   vertical-align: middle;
   width: 100%;
   height: 40px;
   margin: 5px .25em;
 }
 .seq-pagination li:first-child{
   padding-left: 15px;
 }
 .seq-pagination li:nth-child(2) {
  padding-left: 30px;
  }
 .seq-pagination li:nth-child(3) {
  padding-left: 30px;
}
.seq-pagination li:nth-child(4){
  padding-left: 40px;
}
.seq-pagination li:nth-child(5){
  padding-left: 50px;
}
 .seq-pagination .seq-current:before {
   opacity:.7;
 }
 .seq-pagination img,
 .seq-pagination a {
   display: block;
   border: none;
   margin: 0 auto;
 }
 /* ------try----*/
 .view-all-cont-cashews {
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  -ms-flex-pack: flex-end;
  color: #ffffff;
  z-index: 6;
  transform: translateX(0%);
  transition: all linear 0.3s;
  float: right;
}
 .view-all-cont-cashews:hover .view-all-btn {
  transition: all linear 0.3s;
  padding-left: 90px;
  padding-right: 0;
  color: #fff;
  text-decoration: none; 
}
.view-all-cont-cashews:hover a{
  text-decoration: none;
}
.view-all-cont-cashews .view-all-btn {
  position: relative;
  padding-right: 90px;
  transition: all linear 0.3s;
  color: #fff;
  font-weight: 500;
  font-size: 16px;
}

.view-all-cont-cashews:hover .view-all-btn:before {
  width: 78px;
  transition: all linear 0.3s 0.3s;
}

.view-all-cont-cashews .view-all-btn:before {
  content: '';
  position: absolute;
  top: 11px;
  left: 0;
  width: 0;
  height: 1px;
  background-color: #ffffff;
  transition: all linear 0.3s;
}
.view-all-cont-cashews:hover .view-all-btn:after {
  width: 0;
  transition: all linear 0.3s;
}
.view-all-cont-cashews .view-all-btn:after {
  content: '';
  position: absolute;
  top: 11px;
  right: 0;
  width: 78px;
  height: 1px;
  background-color: #ffffff;
  transition: all linear 0.3s 0.3s;
}



 /* -----/try--------- */

.view-all-cont {
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  -ms-flex-pack: flex-end;
  color: #ffffff;
  z-index: 6;
  transform: translateX(0%);
  transition: all linear 0.3s;
  float: right;
}

a:hover, a:focus, a:active {
  color: inherit;
  text-decoration: none;
}
.view-all-cont:hover .view-all-btn {
  transition: all linear 0.3s;
  padding-left: 90px;
  padding-right: 0;
  color: #fff;
  text-decoration: none; 
}
.view-all-cont:hover a{
  text-decoration: none;
}
.view-all-cont .view-all-btn {
  position: relative;
  padding-right: 90px;
  transition: all linear 0.3s;
  color: #fff;
  font-weight: 500;
  font-size: 16px;
}
.view-all-cont:hover .view-all-btn:before {
  width: 78px;
  transition: all linear 0.3s 0.3s;
}

.view-all-cont .view-all-btn:before {
  content: '';
  position: absolute;
  top: 11px;
  left: 0;
  width: 0;
  height: 1px;
  background-color: #ffffff;
  transition: all linear 0.3s;
}
 .view-all-cont:hover .view-all-btn:after {
  width: 0;
  transition: all linear 0.3s;
}
 .view-all-cont .view-all-btn:after {
  content: '';
  position: absolute;
  top: 11px;
  right: 0;
  width: 78px;
  height: 1px;
  background-color: #ffffff;
  transition: all linear 0.3s 0.3s;
}
.firstcontent{
  margin-top: 18%;
  z-index:99;
}
.ulmobilecat{
  list-style: none;
  display: inline-block;
  padding-left: 0px;
}
.ulmobilecat li{
  display: inline-block !important;
  text-transform: capitalize !important;
  font-size: 14px !important;
  letter-spacing: 1px;
  padding: 1px 10px !important;
  cursor: pointer !important;
  width: 32% !important;
  margin: -1px !important;
}
.ulmobilecat li a{
  color: #fff;
  text-decoration: none;
}
.ulmobilecat li a:hover{
  font-weight: 900; 
   
}
.mo-nodisplay{
  display: none;
}
.mobile-back{
  display: none;
}
.mobilecat{
  display: none;
  letter-spacing: 0px;
  cursor: pointer;
  font-size: 20px;
  font-weight: 800;
}

.home_text_right{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    position: absolute;
    top: 50%;
    right: -8%;
    color: #ffffff;
    font-weight: 900;
    max-width: 400px;
    width: 100%;
    transform: translate(-50%, -50%);
    opacity: 0;
    z-index: 5;
    transition: opacity .4s ease-in-out;
    display: none;
}
.home_text_right.show{
  opacity: 1;
}
.home_text_right.mobileshow{
  opacity: 1;
  max-width: 250px;
  top: 42%;
  left: 45% !important;
}
.mobilecat{
  display: none;
}