
    body {
        font-family: sans-serif;
    

    .pointerspan {
        cursor: pointer;
        color: #c00;
    }

    .button,
    .abutton,
    .thewordbuttonisinthisclass {
        text-decoration: underline;
    }

    .crosshair {
        cursor: crosshair;
    }
    }